<div th:fragment="guessField" xmlns:th="http://www.w3.org/1999/xhtml">
    <div class="container">

        <h2>Before sending your answer, please check for typos. Letter case doesn’t matter.</h2>

        <div class="final-guess">
            <span class="letter" th:each="letter : ${puzzle}" th:text="${letter}"></span>&nbsp;
        </div>

        <!-- Input field for puzzle guess from user -->
        <form hx-post="/game/guess-puzzle"
              hx-swap="innerHTML">
            <div class="puzzle-input">
                <label for="custom-puzzle">Enter your guess:</label>
                <input type="text" id="custom-puzzle" name="guessedPuzzle" required/>
                <button type="submit" class="submit-letter-btn">OK</button>
            </div>
        </form>
    </div>
</div>

<!-- After correct answer -->
<div th:fragment="successGuess" xmlns:th="http://www.w3.org/1999/xhtml">
    <h1>
        <span class="prize">Congratulations! You won $<b th:text="${prize}"></b></span>
    </h1>
</div>

<!-- After wrong answer -->
<div th:fragment="wrongGuess" xmlns:th="http://www.w3.org/1999/xhtml">
    <h1>
        <span class="prize">Your answer is not correct.</span>
    </h1>
    <button class="back-button"
            hx-get="/game/back-to-game"
            hx-target="#main"
            hx-swap="innerHTML">Back to game
    </button>
</div>