<div th:fragment="registerFragment" xmlns:th="http://www.w3.org/1999/xhtml">
    <div class="container">
            <h2>Create Account</h2>
            <form hx-post="users/api/register" hx-target="#main" hx-swap="innerHTML">

                <label for="username">User name</label>
                <input type="text" id="new-username" name="nickname" required>

                <label for="password">Password</label>
                <input type="password" id="new-password" name="password" autocomplete="off" required>

                <label for="confirm-password">Confirm password</label>
                <input type="password" id="confirm-password" name="confirm_password" required>

                <button type="submit">Create Account</button>
            </form>
    <div class="btn-group">
        <button class="back-button"
                hx-get="/home"
                hx-target="#main"
                hx-swap="innerHTML">Back
        </button>
    </div>
    </div>
</div>

<div th:fragment="loginFragment" xmlns:th="http://www.w3.org/1999/xhtml">
    <div class="container">
        <h2>Login</h2>
        <form hx-post="users/api/login" hx-target="#main" hx-swap="innerHTML">
            <label for="username">User name</label>
            <input type="text" id="username" name="nickname" required>
            
            <label for="password">Password</label>
            <input type="password" id="password" name="password" autocomplete="off" required>
            
            <button type="submit">Log in</button>
        </form>
    <div class="btn-group">
        <button class="back-button"
                hx-get="/home"
                hx-target="#main"
                hx-swap="innerHTML">Back
        </button>
    </div>
    </div>
</div>

<div th:fragment="guestFragment" xmlns:th="http://www.w3.org/1999/xhtml">
    <div class="container">
        <form hx-post="users/api/guest" hx-target="#main" hx-swap="innerHTML">
            <div class="floating-group">
                <input type="text" id="nickname" name="nickname" placeholder=" " required>
                <label for="nickname">Enter nickname</label>
            </div>
                <button class="submit-btn" type="submit">Submit</button>
        </form>
        <div class="btn-group">
            <button class="back-button"
                    hx-get="/home"
                    hx-target="#main"
                    hx-swap="innerHTML">Back
            </button>
        </div>
    </div>
</div>