<div th:fragment="categorySelected" xmlns:th="http://www.w3.org/1999/xhtml">
  <h1>
    <span class="category">Selected category: <b th:text="${category}"></b></span>
  </h1>
</div>

<!--<div class="puzzle-wrapper"-->
<!--     th:style="'&#45;&#45;letters:' + ${puzzle.size()}"-->
<!--     th:fragment="puzzleSelected" xmlns:th="http://www.w3.org/1999/xhtml">-->
<!--    <span class="letters" th:each="letter : ${puzzle}" th:text="${letter}"></span>&nbsp;-->
<!--</div>-->


<div class="puzzle"
     th:fragment="puzzleSelected" xmlns:th="http://www.w3.org/1999/xhtml">
    <div class="word" th:each="word : ${words}">
        <span class="letter"
              th:each="letter : ${word}"
              th:text="${letter}">
        </span>
    </div>
</div>
