<div th:fragment="categorySelected" xmlns:th="http://www.w3.org/1999/xhtml">
  <h1>
    <span class="category">Selected category: <b th:text="${category}"></b></span>
  </h1>
</div>

<div class="puzzle"
     th:fragment="puzzleSelected"
     xmlns:th="http://www.w3.org/1999/xhtml"
     th:style="|--max-word: ${maxWordLength}|">
    <div class="word" th:each="word, iter : ${words}"
         th:classappend="${#lists.size(word) == 1} ? ' word-1'">
        <span class="letter"
              th:each="letter : ${word}"
              th:text="${letter}">
        </span>

        <span class="space-tile"
              th:if="${!iter.last}">
        </span>
    </div>
</div>

