<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wheel of fortune!</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <script src="https://cdn.jsdelivr.net/npm/htmx.org@2.0.6/dist/htmx.min.js" integrity="sha384-Akqfrbj/HpNVo8k11SXBb6TlBWmXXlYQrCSqEWmyKJe+hDm3Z/B2WVG4smwBkRVm" crossorigin="anonymous"></script>

</head>
<body>
   <div id="main">

    
        <div class="login-container">
            <h2>Logowanie</h2>
            <form>
                <label for="nick">Nick:</label>
                <input type="text" id="nick" name="nick" required>

                <label for="password">Hasło:</label>
                <input type="password" id="password" name="password" required>

                <button type="submit">Zaloguj się</button>
            </form>
        </div>
        
        <div id="guess">
            
            <div id="category">
                <h1>CATEGORY: </h1>
            </div>

            <div id="puzzle">
                <h1>_ _ _ _ _ _ _</h1>
            </div>
        </div>

        
        <div id="game">
            <div id="wheel">
                <h1>WHEEL</h1>
                <button>SPIN</button>
            </div>
            
            <div id="player">
                <div id="name">
                    <h1>NAME</h1>
                </div>
                <div id="money">
                    <h1>$0</h1>
                </div>
            </div>
            
            <div id="input">
                <button>Pick a consonant</button>
                <button>Buy a vowel</button>
                <button>Try to guess</button>
            </div>

            <div id="answer"></div>
            
        </div>
    </div>
        
    <footer>&copy; 2025 Created by SerumYouNeed</footer>
</body>
</html>
