<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wheel of fortune!</title>
    <script src="https://cdn.jsdelivr.net/npm/htmx.org@2.0.6/dist/htmx.min.js" integrity="sha384-Akqfrbj/HpNVo8k11SXBb6TlBWmXXlYQrCSqEWmyKJe+hDm3Z/B2WVG4smwBkRVm" crossorigin="anonymous"></script>

</head>
<body>
    <header>WHEEL OF FORTUNE</header>
    <nav>
        <ul>
            <li><a href="../../../../../frontend/guide.html">How to play</a></li>
            <li><a href="index.html">Home</a></li>
        </ul>
    </nav>
    <main>
        <h1>Welcome to the Wheel of Fortune!</h1>
        <p>Try your luck and spin the wheel to win amazing prizes!</p>
        <a href="../../../../../frontend/create-account.html">Create Account</a>
        <a href="../../../../../frontend/guest.html">Play as Guest</a>
        <a href="/login">Log In</a>
    </main>
    <footer>&copy; 2025 Created by SerumYouNeed</footer>
</body>
</html>
