<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Play as Guest - Wheel of Fortune</title>
    <script src="https://cdn.jsdelivr.net/npm/htmx.org@2.0.6/dist/htmx.min.js" integrity="sha384-Akqfrbj/HpNVo8k11SXBb6TlBWmXXlYQrCSqEWmyKJe+hDm3Z/B2WVG4smwBkRVm" crossorigin="anonymous"></script>

</head>
<body>
    <header>WHEEL OF FORTUNE
        <nav>
            <ul>
                <li><a href="guide.html">How to play</a></li>
                <li><a href="index.html">Home</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <div id="player-dashboard">
            <h1>username: $0</h1>
        </div>

        <button>Category draw</button>

        <h3>Or pick one from the list:</h3>
        <ul>
            <li>Oscar for the best movie</li>
            <li>Disney movies</li>
            <li>Oscar for the best actor</li>
            <li>Famous proverb</li>
        </ul> 
    </main>
    
    <footer>&copy; 2025 Created by SerumYouNeed</footer>
</body>
</html>